.aae-section__container::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  width: 100%; }

.aae-section__container > div.wrapper {
  display: inline;
  float: left;
  width: 50%;
  padding: 24px;
  height: 100%; }
  .aae-section__container > div.wrapper > img.feature__image {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    border: 8px solid white;
    border-radius: 10%; }
  .aae-section__container > div.wrapper > img.feature__image.card.neuron {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.1);
    border: 0px; }
  .aae-section__container > div.wrapper > div.feature__action {
    font-family: "Moderneratrial", sans-serif;
    font-size: 3.25em;
    font-weight: 600;
    color: #212121;
    width: 80%;
    margin-left: 10%;
    line-height: 1.2; }
  .aae-section__container > div.wrapper > div.feature__action:first-child {
    margin-top: 10%; }
  .aae-section__container > div.wrapper > div.feature__result {
    font-family: "Avenir", sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #7c7c7c;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 64px; }

.aae-section__container:nth-child(2n + 1) {
  background-color: #fff; }
  .aae-section__container:nth-child(2n + 1) > div.wrapper {
    float: right; }

.aae-section__container:nth-child(2n) {
  background-color: #fff; }

@media (max-width: 1024px) {
  .aae-section__container > div.wrapper > img.feature__image {
    margin-top: 25%; }
  .aae-section__container > div.wrapper > img.feature__image.header {
    margin-top: 30%; } }

@media (max-width: 768px) {
  .aae-section__container > div.wrapper {
    width: 100%;
    text-align: center;
    padding: 16px; }
    .aae-section__container > div.wrapper > img.feature__image {
      width: 80%;
      margin-left: 10%;
      margin-top: 35%; }
    .aae-section__container > div.wrapper > div.feature__result {
      font-size: 1.5em;
      margin-top: 64px;
      margin-bottom: 32px; }
    .aae-section__container > div.wrapper > img.feature__image {
      width: 40%;
      margin: 0%;
      margin-top: 10%; } }

@media (max-width: 512px) {
  .aae-section__container > div.wrapper > div.feature__result {
    font-size: 1.35em; } }
