.aae-section__container.type-locked {
  border-bottom: 2px solid #f3f1ee;
  padding-bottom: 4%; }
  .aae-section__container.type-locked > div.wrapper > div.feature__action {
    margin-left: 0%; }
  .aae-section__container.type-locked > div.wrapper > div.feature__result {
    margin-left: 0%;
    margin-top: 4%;
    margin-bottom: 6%; }
  .aae-section__container.type-locked > div.wrapper > div.install-button-container {
    height: 64px; }
    .aae-section__container.type-locked > div.wrapper > div.install-button-container > a.info-button > img {
      height: 64px; }
    .aae-section__container.type-locked > div.wrapper > div.install-button-container > a.info-button > button {
      border-radius: 8px;
      height: 50px;
      padding-left: 16px;
      padding-right: 16px;
      color: white;
      font-family: "Avenir next", sans-serif;
      background-color: #ec1943;
      border: 2px solid #bc1a39;
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
      opacity: 1;
      outline: none; }
    .aae-section__container.type-locked > div.wrapper > div.install-button-container > a.info-button > button:hover {
      opacity: 0.75; }
