.marketplace__container {
  padding: 4% 8% 4% 8%; }
  .marketplace__container > div.heading {
    font-family: "Moderneratrial", sans-serif;
    font-weight: 600;
    font-size: 3.5em; }
  .marketplace__container > div.description-wrapper {
    width: 100%;
    overflow: hidden; }
    .marketplace__container > div.description-wrapper > div.description {
      display: inline;
      float: left;
      width: 92%;
      margin-left: 16px;
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      font-size: 1.25em;
      padding-top: 16px;
      text-align: justify; }
  .marketplace__container > div.packs-wrapper {
    margin-top: 32px;
    overflow: hidden; }
    .marketplace__container > div.packs-wrapper > div.pack {
      display: inline;
      float: left;
      width: 22.5%;
      height: auto;
      border: 2px solid #f3f1ee;
      border-radius: 16px;
      margin-right: 2.5%;
      padding: 16px;
      cursor: pointer; }
      .marketplace__container > div.packs-wrapper > div.pack > div.title {
        margin-left: 16px;
        font-family: "Moderneratrial", sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        color: #545454; }
      .marketplace__container > div.packs-wrapper > div.pack > img.pack_image {
        max-width: 100%;
        max-height: 100%; }
      .marketplace__container > div.packs-wrapper > div.pack > div.pack_description {
        margin-left: 16px;
        overflow: hidden;
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        color: #9b9b9b; }
        .marketplace__container > div.packs-wrapper > div.pack > div.pack_description > div.number {
          text-align: left;
          display: inline;
          float: left;
          width: 50%; }
        .marketplace__container > div.packs-wrapper > div.pack > div.pack_description > div.price {
          background-color: #b1d1f7;
          color: white;
          border-radius: 8px;
          margin-right: 10%;
          text-align: center;
          padding-top: 4px;
          padding-bottom: 4px;
          display: inline;
          float: right;
          width: 40%; }
  .marketplace__container > div.details-wrapper {
    margin-top: 4%;
    overflow: hidden; }
    .marketplace__container > div.details-wrapper > div.details-image-wrapper {
      width: 50%;
      display: inline;
      float: left; }
      .marketplace__container > div.details-wrapper > div.details-image-wrapper > img.details-image {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .marketplace__container > div.details-wrapper > div.details-description-wrapper {
      text-align: justify;
      width: 46%;
      margin-left: 4%;
      display: inline;
      float: left;
      padding-top: 0px; }
      .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.title {
        font-family: "Moderneratrial", sans-serif;
        font-size: 3.5em;
        font-weight: 600;
        color: #545454; }
      .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.subtitle {
        font-family: "Avenir", sans-serif;
        font-size: 2.4em;
        font-weight: 400;
        color: #9b9b9b; }
      .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.description {
        font-family: "Avenir", sans-serif;
        font-size: 1.5em;
        font-weight: 400;
        color: #545454; }
      .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper {
        overflow: hidden;
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        color: #545454;
        font-size: 1.25em;
        border-top: 2px solid #f3f1ee;
        border-bottom: 2px solid #f3f1ee;
        margin-top: 16px;
        padding-top: 16px;
        padding-bottom: 16px; }
        .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.quantity {
          width: 50%;
          display: inline;
          float: left;
          overflow: hidden; }
          .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.quantity > button.qty, .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.quantity div.qty {
            display: inline;
            float: left;
            text-align: center; }
          .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.quantity > button.qty {
            width: 18%;
            margin-right: 5%;
            margin-left: 5%;
            border-radius: 6px;
            background-color: #9b9b9b;
            border: 2px solid #7c7c7c;
            color: white;
            outline: none; }
          .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.quantity > button.qty:hover {
            opacity: 0.75; }
          .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.quantity > div.qty {
            padding-top: 4px; }
        .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.price-wrapper > div.total-price {
          width: 50%;
          display: inline;
          float: left;
          text-align: right;
          padding-top: 8px; }
      .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.buy-wrapper {
        margin-top: 4%;
        width: 100%; }
        .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.buy-wrapper > button.buy {
          font-family: "Avenir", sans-serif;
          font-weight: 400;
          color: #545454;
          font-size: 1.25em;
          width: 100%;
          background-color: #5bb75b;
          border: 2px solid #16a05d;
          border-radius: 8px;
          color: white;
          height: 56px;
          outline: none; }
        .marketplace__container > div.details-wrapper > div.details-description-wrapper > div.buy-wrapper > button.buy:disabled {
          opacity: 0.45; }
  .marketplace__container > div.stash-wrapper {
    margin-top: 64px; }
    .marketplace__container > div.stash-wrapper > div.title-wrapper {
      overflow: hidden; }
      .marketplace__container > div.stash-wrapper > div.title-wrapper > div.lock {
        width: 4%;
        margin-top: 2%;
        display: inline;
        float: left; }
        .marketplace__container > div.stash-wrapper > div.title-wrapper > div.lock > img {
          max-width: 100%;
          max-height: 100%; }
      .marketplace__container > div.stash-wrapper > div.title-wrapper > div.lock.left {
        margin-left: 4%; }
      .marketplace__container > div.stash-wrapper > div.title-wrapper > div.lock.right {
        margin-right: 4%;
        float: right; }
      .marketplace__container > div.stash-wrapper > div.title-wrapper > div.title {
        display: inline;
        float: left;
        width: 75%;
        margin-left: 4%;
        margin-bottom: 0%;
        margin-top: 2%;
        font-family: "Moderneratrial", sans-serif;
        font-size: 3vw;
        font-weight: 600;
        color: #545454;
        text-align: center; }
    .marketplace__container > div.stash-wrapper > div.parts-wrapper {
      margin: 2% 0% 2% 0%;
      overflow: hidden; }
      .marketplace__container > div.stash-wrapper > div.parts-wrapper > div.part {
        width: 19%;
        margin-right: 1%;
        padding: 2%;
        border: 2px solid #f3f1ee;
        border-radius: 16px;
        display: inline;
        float: left; }
        .marketplace__container > div.stash-wrapper > div.parts-wrapper > div.part > img.part-image {
          max-width: 100%;
          max-height: 100%; }
        .marketplace__container > div.stash-wrapper > div.parts-wrapper > div.part > div.part-qty {
          margin-left: 4%;
          margin-right: 4%;
          overflow: hidden;
          font-family: "Avenir", sans-serif;
          font-size: 1.5vw;
          font-weight: 400;
          color: #9b9b9b; }
          .marketplace__container > div.stash-wrapper > div.parts-wrapper > div.part > div.part-qty > div.text {
            display: inline;
            float: left;
            width: 50%; }
          .marketplace__container > div.stash-wrapper > div.parts-wrapper > div.part > div.part-qty > div.number {
            font-size: 1.25vw;
            margin-top: 0.25vw;
            display: inline;
            float: right;
            background-color: #f1234c;
            opacity: 0.85;
            color: white;
            border-radius: 8px;
            text-align: center;
            width: 25%; }
