@import "../../constants/constants.scss";

.my_collectibles__container {
  >div.profile_container {
    //border: 2px solid $background_color_cream;
    //border-radius: 24px;
    border-bottom: 2px solid $background_color_cream;
    margin: 32px;
    margin-top: 0px;
    padding: 32px;
    overflow: hidden;
    >div.image_container{
      display: inline;
      float: left;
      margin-left: 4vw;
      >img{
        height: 12.5vw;
        width: 12.5vw;
        //padding: 0vw;
        //margin:1vw;
        border-radius: 2.34375vw;
        box-shadow: 0 0.5em 1.5em 0 rgba(0,0,0,0.075);
        overflow: hidden;
      }
    }
    >div.wallet_container {
      display: inline;
      float:left;
      font-family: $font_family_1;
      font-weight: 400;
      font-size: 1.75vw;
      margin-left: 4vw;
      width: 34vw;
      // border: 1px solid black;
      >div.title{
        margin-top: 1.5vw;
        font-weight: 600;
        color: $text_color_blackish;
      }
      >div.wallet_address {
        font-weight: 400;
        font-size: 1.4vw;
        color: $text_color_cream;
      }

      >div.neurons, >div.brainparts {
        display: inline;
        overflow: hidden;
        // border: 1px solid black;
        width: 15vw;
        margin-top: 1vw;
        >img{
          width: 4vw;
          height: 4vw;
          display: inline;
          float: left;
        }
        div.lbl{
          display: inline;
          float: left;

          width: 10vw;
          // border: 1px solid black;
          font-weight: 600;
          font-size: 1.4vw;
          color: $text_color_blackish;

          margin-left: 0.75vw;
        }
        div.qty{
          display: inline;
          float: left;
          width: 10vw;
          color: $text_color_cream;
          // border:1px solid black;

          font-weight: 400;
          font-size: 1.4vw;

          margin-top: -0.2vw;
          margin-left: 0.75vw;
        }
      }
      >div.neurons{
        float:left;
        text-align: left;
      }
      >div.brainparts{
        float:right;
        margin-right: 4vw;
      }
    }
    >div.action_container{
      //border: 1px solid black;
      display: inline;
      float:right;
      width: 28vw;
      padding: 1.5vw;
      margin-top: 2vw;
      text-align: right;
      >button.action_button{
        //background-color: #00af01;
        background-color: $btn_color_green;
        //border: 2px solid #027101;
        border: 3px solid $btn_color_dark_green;
        box-shadow: 4px 8px 16px rgba(0,0,0,0.075);
        outline:none;

        border-radius: 12px;
        padding: 1.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        margin-right: 1vw;

        font-size: 2vw;
        font-family: $font_family_1;
        color:white;
      }
      >button.action_button:hover{
        opacity: 0.75;
      }
    }
  }

  >div.stash_container{
    //border: 2px solid $background_color_cream;
    border-radius: 24px;
    margin: 32px;
    padding: 24px;
    overflow: hidden;
    overflow: hidden;
    >div.sidebar{
      width: 15vw;
      display: inline;
      float: left;
      >div.brainparts_button, >div.exchange_button {
        margin-top: 0.75vw;
      }
    }
    >div.detail-section{
      width: 75vw;
      display: inline;
    }
  }
}
